<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Add New User</title>
		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
		<div th:insert="fragments/stylesheet::stylesheet"></div>
	</head>
<body>
	<div class="wrapper">
		<!-- main header -->
		<div th:insert="fragments/header::header">
		</div>
		<!-- end main header -->

		<!-- Sidebar -->
		<div th:insert="fragments/sidebar :: sidebar"></div>		
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
				<div th:insert="fragments/panel-header::panel-header">

				</div>
				
				<div class="page-inner mt--5">
					
					
					<div class="row row-card-no-pd">
						<div class="col-md-12">
							<div class="card">
								
								<div class="col-md-6">
								<form th:action="@{/user/save}" th:method="POST" th:object="${user}">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>First Name</label>
												<input id="addName" type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Last Name</label>
												<input id="addName" type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
											</div>
										</div>
					
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Email</label>
												<input id="addName" type="text" th:field="*{email}" class="form-control" placeholder="Email">
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Username</label>
												<input id="addName" type="text" th:field="*{userName}" class="form-control" placeholder="Username">
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Password</label>
												<input id="addName" type="password" th:field="*{password}" class="form-control" placeholder="Password">
											</div>
										</div>

										<div class="col-sm-12">
											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" th:field="*{status}" required="">
													
													<option th:each="c : ${T(com.blog.myblog.models.Status).values()}" th:value="${c.name()}" th:text="${c.name()}"></option>
													
													
												</select>
												<label for="selectFloatingLabel" class="placeholder">Status</label>
											</div>
										</div>
					
										
										
									</div>
									<div class="modal-footer no-bd">
										<button type="submit" id="addRowButton" class="btn btn-primary">Add</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</form>
								</div>

							</div>
						</div>
					</div>
					
				
				</div>
			</div>
			

			

		</div>
		
	
	</div>
	<!--   Core JS Files   -->
	<div th:insert="fragments/scripts::scripts">
	</div>
	
</body>
</html>