<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="archieve">
            <h3 class="sidebar-heading">Archives</h3>
            <ul class="categories" >
              <th:block th:each="a:${articleByMonth}">
              
              <li><a href="#">[[${a.getMonth}]][[${a.month}]]<span th:text="${#temporals.format(a.getMonth, 'MMMM dd, yyyy', new java.util.Locale('en', 'EN'))}"></span></span><span>([[${a.getArticleMonthlyCount}]]) </span></a></li>
            </th:block>
              <li><a href="#">September 2018 <span>(6)</span></a></li>
             
            </ul>
          
          </div>
    </body>
</html>
