<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="popular_articles">
            <h3 class="sidebar-heading">Popular Articles</h3>

				<th:block th:each="toparticle:${topArticles}">
	              <div class="block-21 mb-4 d-flex">
	                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
	                <div class="text">
	                  <h3 class="heading"><a href="#">[[${toparticle.title}]]</a></h3>
	                  <div class="meta">
	                    
						<div><a href="#"><span class="icon-calendar"></span> <span th:text="${#temporals.format(toparticle.created, 'MMMM dd, yyyy', new java.util.Locale('en', 'EN'))}"></span>
							</a></div>
	                    <div><a href="#"><span class="icon-person"></span> [[${toparticle.author.firstName}]] [[${toparticle.author.secondName}]]</a></div>
	                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
	                  </div>
	                </div>
	              </div>
				</th:block>
	              
          
          </div>
    </body>
</html>
